In [2]:
#imports
import pandas as pd #pandas library for handling dataframes, i.e. spreadsheets
import pandas_datareader as pdr #pandas-datareader library for downloading data from yahoo

In [3]:
#datasource = yahoo
data_source = 'yahoo'
#start date in 'YYYY-MM-DD' format
start = '2021-01-01'
end = None #end date in same format or None, if None then get the lastest trading day
symbol = 'AMZN'
df = pdr.data.DataReader(name=symbol, data_source=data_source, start=start, end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,3272.000000,3144.020020,3270.000000,3186.629883,4411400,3186.629883
2021-01-05,3223.379883,3165.060059,3166.010010,3218.510010,2655500,3218.510010
2021-01-06,3197.510010,3131.159912,3146.479980,3138.379883,4394800,3138.379883
2021-01-07,3208.540039,3155.000000,3157.000000,3162.159912,3514500,3162.159912
2021-01-08,3190.639893,3142.199951,3180.000000,3182.699951,3537700,3182.699951
...,...,...,...,...,...,...
2021-07-13,3773.080078,3671.320068,3702.100098,3677.360107,3845900,3677.360107
2021-07-14,3717.659912,3660.830078,3708.850098,3681.679932,3296600,3681.679932
2021-07-15,3695.399902,3620.919922,3694.199951,3631.199951,3185300,3631.199951
2021-07-16,3646.060059,3570.459961,3633.310059,3573.629883,4038400,3573.629883
2021-07-19,3550.209961,3499.159912,3532.580078,3549.590088,3779100,3549.590088

In [ ]:
#Store data locally on your computer

#folder where you want to store the files
# Here set to 'Data' folder in your Jupyter_Notebooks folder on your Desktop
data_dir = os.path.join(os.environ["HOMEPATH"], 'Desktop', 'Jupyter_Notebooks', 'Data')
#filename, set to name of stock symbol
filename = f'{symbol}.csv'
#create complete filepath, i.e. target_dir + filename
filepath = os.path.join(target_dir, filename)
#to_csv method writes the dataframe to the location indicated by the filepath
df.to_csv(filepath, index=True)

In [ ]:
#List all contents of your Data folder
os.listdir(data_dir)

In [ ]:
#load the first file from your data_dir
new_df = pd.read_csv(os.listdir(data_dir)[0], index_col='Date')
new_df